<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx47ed39b0ce916f97</string>
				<string>wx73b3d8f17d1f345f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alisdk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Guge</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.820055511610-n4nkgjt84fpeokvtagmj81kshb52kl81</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>友盟appkey</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2939021549734258</string>
	<key>FacebookClientToken</key>
	<string>e8651ae6cf3079e759a75f3026f8a50e</string>
	<key>FacebookDisplayName</key>
	<string>Meeting</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>weixinULAPI</string>
		<string>weixin</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>User Interface Style</key>
	<string>Light</string>
	<key>com.sharetrace.APP_KEY</key>
	<string>06c2e628210b372b</string>
</dict>
</plist>
